@model IEnumerable<blog.Models.Note>

@{
    ViewData["Title"] = "Mis Notas";
}

@{
    var order = ViewBag.order == null ? 1 : -1*ViewBag.order;
    var sortedBy = ViewBag.sortedBy;
    var arrow_icon = order == -1 ? "/icons/up_arrow.svg" : "/icons/down_arrow.svg";
}

<div class="flex-row space-between align-center">
<div class="mb-1 flex-row align-center space-x-10">
    <h1 class="mb-1">Mis Notas</h1>

    <a class="btn btn-primary mt-1" asp-action="Create">Nueva Nota</a>
</div>
<div class="flex-row space-x-3">
    <a class="without-dec" asp-action="Index" asp-route-sortedBy="title" asp-route-order="@order">
        <div class="@(sortedBy == "title" ? "order order-selected":"order") flex-row align-center">
            <p class="m-0">Ordenar por título</p>
            <img class="arrow" src="@arrow_icon" />
        </div>
    </a>
    <a class="without-dec" asp-action="Index" asp-route-sortedBy="date" asp-route-order="@order">
        <div class="@(sortedBy == "date" ? "order order-selected":"order") flex-row align-center">
            <p class="m-0" style=>Ordenar por fecha</p>
            <img class="arrow" src="@arrow_icon" />
            
        </div>
        </a>
</div>
</div>

<div class="form-group mt-3">
<input class="form-control" placeholder="Filtrar por título" id="title_filter"/>
<input class="form-control mt-1" placeholder="Filtrar por cuerpo" id="body_filter"/>
</div>

<div class="flex-row flex-wrap mt-1" id="container-cards">
@foreach (var item in Model) {
    <a class="link-detail" asp-action="Details" asp-route-id="@item.Id"}>
        <div class="note-card">
            <div class="flex-row">
            <h4 class="title-note">
                @item.Title
            </h4>
            <div class="card-options">
                    <img class="icon edit-icon" src="/icons/edit.svg" name="@item.Id"/>
                
                    <img class="icon delete-icon" src="/icons/delete.svg" name="@item.Id"/>
            </div>
            </div>
            <p class="date">@Html.DisplayNameFor(model => model.CreationDate): @Html.DisplayFor(modelItem => item.CreationDate)</p>
            <p class="body-note">@item.Body</p>
        </div>
        </a>
}
</div>

<script>
    function click_edit(e, noteId){
        e.preventDefault()
        window.location.href = "notes/edit/" + noteId 
    }

    function click_delete(e, noteId){
        e.preventDefault()
        window.location.href = "notes/delete/" + noteId 
    }

    let edit_icons = document.getElementsByClassName("edit-icon")
    for(let i = 0; i < edit_icons.length; i++)
        edit_icons[i].addEventListener('click', (e)=>click_edit(e, edit_icons[i].name))
    
    let delete_icons = document.getElementsByClassName("delete-icon")
    for(let i = 0; i < delete_icons.length; i++)
        delete_icons[i].addEventListener('click', (e)=>click_delete(e, delete_icons[i].name))

</script>

<script src="~/js/filter.js" asp-append-version="true"></script>

<style>
    .order{
        padding: 1rem;
        text-decoration:none;
        border:1px solid black;
        border-radius:10px;
        color:black;
    }

    .order:hover{
        background: rgba(0, 0, 0, 0.05);
        color:blue;
        scale:1.01;
        border: 1px solid blue;
    }

    .order-selected{
        color:blue;
        border: 1px solid blue;
    }

    .arrow{
        height:1rem;
        width:0.5rem;
        margin-left:0.5rem
    }

    .link-detail{
        text-decoration:none;
        color:black;
        margin-top:1rem;
    }
    .note-card{
        position:relative;
        padding:3rem;
        width: fit-content;
        border-radius:10px;
        border:1px solid gray;
        cursor:pointer;
        margin-bottom:0.75rem;
        margin-right:0.75rem;
        -webkit-box-shadow: -1px 6px 8px -2px rgba(0,0,0,0.61); 
        box-shadow: -1px 6px 8px -2px rgba(0,0,0,0.61);
        color: black;
    }

    .note-card:hover{
        background: rgba(0, 0, 0, 0.05);
        scale:1.01;
        border: 1px solid blue;
    }

    .note-card:hover>div{
        color:blue;
    }

    .card-options{
        position:absolute;
        top:0.5rem;
        right:0.5rem;
    }

    .icon{
        width: 2.5rem;
        height:2rem;
        animation-duration: 1000ms;
        padding:0.2rem;
        z-index:10;
        border-radius:10px;
    }

    .icon:hover{
        scale:1.2;
    }

    .edit-icon:hover{
        background:rgba(0, 128, 0, 0.215);
    }

    .delete-icon:hover{
        background:rgba(255, 0, 0, 0.215);
    }

    .date{
        color:gray;
    }
</style>